*.aux
*.log
*.nav
*.out
*.snm
*.toc
/creative_coding/fractals/gchatel_fractals.vrb
/creative_coding/fractals/src/renders/*
/creative_coding/fractals/videos/01.mp4
/creative_coding/fractals/videos/*
/*.mp4
*.vrb
